@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-size: 17px;
}

body {
  @apply antialiased text-slate-900 bg-slate-50;
}

@keyframes subtleZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.06);
  }
}

.image-auto-zoom {
  animation: subtleZoom 14s ease-out infinite alternate;
}

